html,
body {
    height: 100%;
}

.notice-box {
    margin: 2vw;
    padding: 1vw;
    color: #33FFCC;
    text-shadow: 0.05vw 0.05vw #3399CC;
    text-align: center;
}

/*images & media*/
.spacer-image{
    background: url(/img/envision_land2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    height: 40vw;
    margin: 2vw;
    border-radius: 0.3vw;
}

/*special styles / paddings / borders*/

.spacer {
    padding: 3vw;
}

.p-spacer {
    padding: 1.5vw;
}

.text-center {
    text-align: center;
}
